<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Issue</title>

    <!-- Bootstrap core CSS -->
    <link href="/post-assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/post-assets/css/blog-post.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Issue Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Dashboard
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4"><%=post.title%></h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="../users/<%=post.author._id%>"><%=post.author.name%></a>
          </p>

          <hr>

          <!-- Date/Time -->
          <%
            var dd = post.date.getDate();
            var mm = post.date.getMonth() + 1;
            var yyyy = post.date.getFullYear();
            if(dd<10){
                dd='0'+dd;
            }
            if(mm<10){
                mm='0'+mm;
            }
            var date = dd+'/'+mm+'/'+yyyy;
            var minutes = post.date.getMinutes();
            var hours = post.date.getHours();
            var am='am';
            if(hours>12){
              hours-=12;
              am = 'pm'
            }
            if(hours<10){
                hours='0'+hours;
            }
            if(minutes<10){
                minutes='0'+minutes;
            }
          %>
          <p>Posted on <%=date%> at <%=hours%>:<%=minutes%> <%=am%></p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="../<%=post.image_path%>" alt="" style="max-height:300px">

          <hr>

          <!-- Post Content -->
          <p><%=post.description%></p>
          <hr>



          <div id="disqus_thread"></div>
          <script>

          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

          var disqus_config = function () {
            this.page.url = document.url;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = document.url; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };

          (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://winterfellws.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
        </script>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Contribute to the cause!</h5>
            <div class="card-body">
              <p>Unleash the warrior within you and join the force to solve this issue. RSVP below to contribute.</p>
              <button id="rsvp-btn" class="btn btn-primary" onclick="rsvp('<%=post._id%>')" type="button" style="cursor:pointer">RSVP</button>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">People Contributing</h5>
            <div class="card-body">
              <div class="row">
                <% if(post.rsvp.length>0){ %>
                <div class="col-lg-12">
                  <ul class="list-unstyled mb-0">
                      <% for(var i=0;i<post.rsvp.length;i++) {
                        contributor = post.rsvp[i];
                      %>
                      <li>
                        <a href="../users/<%=contributor._id%>"><%=contributor.name%></a>
                      </li>
                    <%}%>
                  </ul>
                </div>
                <%}else{%>
                  <p> &nbsp;&nbsp;&nbsp;&nbsp;No contributors yet!</p>
                  <%}%>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Submit Solution</h5>
            <div class="card-body">
              <p>If you and along with other contributors have solved this issue, then you can upload the image featuring the fixed issue.</p>
              <a href='/posts/<%=post._id%>/solution'><button class="btn btn-primary" type="button" style="cursor:pointer">Submit</button></a>
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-3 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Clean Clan 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/post-assets/vendor/jquery/jquery.min.js"></script>
    <script src="/post-assets/vendor/popper/popper.min.js"></script>
    <script src="/post-assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script>
      var rsvp = function(post_id) {
        $.post("/posts/rsvp",
        {
            postid: post_id
        },
        function(data, status){
          if(status == "success"){
            console.log('hi');
            $('#rsvp-btn').html('Thank you!')
          }
        });
      }
    </script>

  </body>

</html>
