<!DOCTYPE HTML>
<html>
  <head>
    <title>Profile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body class="is-loading">
    <!-- Wrapper -->
      <div id="wrapper">
              <!-- Main -->
          <section class="main" style="width:40%">
            <header>
              <%if(typeof(imageLink) != null){%>
                <span class="avatar"><img src="../<%=user.image_path%>" style="height:100px;width:100px" alt="" /></span>
              <%}else{%>
                <span class="avatar"><img src="<%=user.image_path%>" style="height:100px;width:100px" alt="" /></span>
              <%}%>
              <h1 style="margin-top: 1%"><%=user.name%></h1>
              <hr>
            </header>

            <!-- <div class="container"> -->
              <p class="title"><%=user.city%></p>
              <p><%=user.bio%></p>
              <p><b>Points:</b><%=user.points%></p>
              <br>

             <button><a href="/">Home</a></button>

          </section>

      </div>

      <script type="text/javascript" src="/javascript/jquery.js"></script>
  </body>
</html>
